!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Backbone.Marionette & Requirejs • TodoMVC
    = stylesheet_link_tag 'application'
    /[if IE]
      = javascript_include_tag 'lib/ie'
  %body
    = yield