<span id="todo-count"><strong></strong> items</span>
<ul id="filters">
  <li>
    <a href="#/">All</a>
  </li>
  <li>
    <a href="#/active">Active</a>
  </li>
  <li>
    <a href="#/completed">Completed</a>
  </li>
</ul>
<button id="incremental-sync">Incremental sync</button>
<button id="full-sync">Full sync</button>
<button id="clear-completed">Clear completed</button>
